*{padding: 0; margin: 0; transition: all .2s;}

a {text-decoration: none; }
a:hover {text-decoration: underline;}

img {margin: 5px;}
.imgleft {float: left;}
.imgcenter {text-align: center; height: auto;}
.imgright {float: right;}
a img {border: 0px;}
#youtubelogo {width:25px; height:20px; margin: 1px;}
.flexible-image {max-width: 90%; margin: 1px;}

body { background: #eee; font-family: arial, verdana;}
p {text-align: justify; padding:2px;}

main {
display: grid; grid-template-columns:2fr 8fr; grid-template-rows:1fr; grid-column-gap:1px; grid-row-gap:1px; 
border: 1px solid #000; border-radius: 5px; max-width: 992px; min-height: 1028px; background: #94E4E7; margin: 10px auto; 
box-shadow: 0 0 20px blue, 0 0 1em #87D6E2;}
.pages {display: grid; grid-template-columns:1fr 1fr; grid-template-rows:1fr; grid-column-gap:1px; grid-row-gap:1px; padding: 1px; margin: 1px auto;}

header {background: #000080; width: 100%; padding-bottom: 10px; color: #ADD8E6; text-align: center; 
    text-shadow: 5px 5px 5px black, 2px 2px 10px red;}
menu {list-style-position: inside;}

.menu-header {background:#0066FF; width: 100%; text-align: center;}
.menu-header li {display: inline-block; background: #0066FF; margin:5px; padding-right: 10px; padding-left: 10px;}
.menu-header li a {color: #fff; text-decoration: none;}
.menu-header li a:hover {color: #fff; text-decoration: none; box-shadow: 0 0 2px yellow, 0 0 2em #3AE2CE; color: #fff;}
 
.button-menu {display: none; width: 36px; height: 22px; top: 2px; bottom: 2px; left: 6px; 
    background: #000080; border-radius: 2px; position: absolute;}
.line {width: 30px; height: 3px; background: #cc0; margin: 3px auto;}

.left-sidebar {border: 0px solid green; border-radius: 5px; width: 100%; background: #FFEFD5; 
min-height: 450px; padding: 5px; margin: 5px auto; margin-left: 5px;
box-shadow: 0 0 1px blue, 0 0 1em #87D6E2;}

.content {border: 0px solid red; border-radius: 5px; width: 95.5%; background: #FFEFD5; 
min-height: 450px; padding: 5px; margin: 5px auto; margin-left: 20px;
box-shadow: 0 0 1px blue, 0 0 1em #87D6E2;}

.les {list-style: none; max-width: 100%;}
.les li {display: block; padding: 5px;}
.les a {color: #000080; text-decoration: none; border-radius: 5px 5px; padding:1px; margin:0 5px 0 0;}
.les a:hover {background: #76E2E2; color: #2F27FF; text-decoration: none; 
text-shadow: 1px 1px 50px #FF00AE, 0 0 1em #94E4E7;}

.plan {list-style-type: circle; padding: 10px; color: #1D4260; margin-left:100px;}
.list1 {list-style-type: disc; padding: 5px 0 5px 20px; color: #000080; }

.quot {text-align: right; font-size: .9em; font-family: pompadur; font-style: italic; color: #852204; margin: 5px;}
.les-prev {text-align: left; font-size: .9em;}
.les-prev a {text-decoration: underline;}
.les-prev a:hover {background: #76E2E2; color: #2F27FF; text-decoration: none; 
text-shadow: 1px 1px 50px #FF00AE, 0 0 1em #94E4E7;}

.les-next {text-align: right; font-size: .9em;}
.les-next a {text-decoration: underline;}
.les-next a:hover {background: #76E2E2; color: #2F27FF; text-decoration: none; 
text-shadow: 1px 1px 50px #FF00AE, 0 0 1em #94E4E7;}

.incontent {background: #A6CAFF; width: 100%; margin-top: 5px; min-height: 20px;}
.incontent nav ul li { padding:0; margin:0 20px 0 0; display:inline-block; }
.incontent nav ul { text-align: center; list-style: none; padding: 2px; background: #A6CAFF;}

footer {display:inline-block; background:#0066FF; width: 100%; text-align: center; margin-top: 5px; min-height: 10px;}
.copy {font-size: .8em;}

