*{padding: 0; margin: 0; transition: all .2s;}

h1 { font-size: 2em; padding: 15px 0 0 10px;}
h2 { font-size: 1.75em; padding: 10px;}
h3 { font-size: 1.5em; padding: 6px;}
h4 { font-size: 1.25em; padding: 4px;}
h5 { font-size: 1.15em; padding: 3px;}
h6 { font-size: 1.1em; padding: 2px;}

.head2 {color: #A30104;}

body { background: #eee; font-family: arial, verdana;}
p {text-align: justify; padding:2px;}
td, th {padding: 5px;}

a {text-decoration: none; color: #001EB4;}
a:hover {text-decoration: underline; color: #2B4DC5;}

main {
display: grid; grid-template-columns:2fr 8fr; grid-template-rows:1fr; grid-column-gap:1px; grid-row-gap:1px; 
border: 1px solid #000; border-radius: 5px; max-width: 992px; min-height: 1028px; background: #94E4E7; margin: 10px auto; 
box-shadow: 0 0 20px blue, 0 0 1em #87D6E2;}
.pages {display: grid; grid-template-columns:1fr 1fr; grid-template-rows:1fr; grid-column-gap:1px; grid-row-gap:1px; padding: 1px; margin: 1px auto;}

header {background: #000080; width: 100%; padding-bottom: 10px; color: #ADD8E6; text-align: center; 
    text-shadow: 5px 5px 5px black, 2px 2px 10px red;}
menu {list-style-position: inside;}
figcaption {font-family: curier; font-size:.9em;}

img {margin: 5px;}
.imgleft {float: left;}
.imgcenter {text-align:center; max-width:100%; padding-top: 5px; padding-bottom: 5px;}
.imgright {float: right;}

.figleft {float: left;}
.figcenter {text-align:center; margin-top: 5px; margin-bottom: 5px;}
.figright {float: right;}

.incenter {text-align: center;}
.inleft {text-align:left;}
.inright {text-align:right;}

a img {border: 0px;}
#youtubelogo {width:25px; height:20px; margin: 1px;}
.flexible-image {max-width: 90%; margin: 1px;}

.menu-header {background:#0066FF; text-align: center;}
.menu-header li {display: inline-block; background: #0066FF; margin:5px; padding-right: 10px; padding-left: 10px;}
.menu-header li a {color: #fff; text-decoration: none;}
.menu-header li a:hover {color: #fff; text-decoration: none; box-shadow: 0 0 2px yellow, 0 0 2em #3AE2CE; color: #fff;}
 
.left-sidebar {border: 0px solid green; border-radius: 5px; width: 97.5%; background: #FFEFD5; 
min-height: 450px; padding: 5px; margin: 5px auto; margin-left: 5px;
box-shadow: 0 0 1px blue, 0 0 1em #87D6E2;}

.content {border: 0px solid red; border-radius: 5px; width: 94.2%; background: #FFEFD5; 
min-height: 450px; padding: 10px; margin: 5px auto; margin-left: 15px;
box-shadow: 0 0 1px blue, 0 0 1em #87D6E2;}

.signature {font-size: .9em; font-family: courier;}
.les {list-style: none; max-width: 100%;}
.les li {display: block; border-bottom: 1px solid #000080; padding: 5px;}
.les a {color: #000080; text-decoration: none; border-radius: 5px 5px; padding:1px; margin:0 5px 0 0;}
.les a:hover {background: #76E2E2; color: #2F27FF; text-decoration: none; 
text-shadow: 1px 1px 50px #FF00AE, 0 0 1em #94E4E7;}

.plan {list-style-type: circle; padding: 12px; color: #1D4260; margin-left:30px;}
.list1 {list-style-type: disc; padding: 10px; font-family: calibri; font-size: 1.1em; color: #651E32; margin-left:30px;}
.list2 {list-style-type: square; padding: 5px; color: #1D4260; margin-left:10px;}
.list3 {padding: 5px; color: #1D4260; margin-left:15px;}
.code {font-size: 1.1em; font-family: calibri; color: #11299F; padding: 10px; text-align: left;}
.code-area {font-size: 1.1em; font-family: calibri; color: #11299F; padding: 15px 10px 15px 20px; text-align: left;}
.uvaga {display:inline-block; border: 1px dashed blue; border-radius: 3px; background: #ADD8D5; font-size: .9em; font-family: verdana; color: #C90009; padding: 5px; text-align: left;}
.uvaga1 {display:inline-block; border: 1px solid #ccc; border-radius: 3px; background: #E1E3E3; font-size: .9em; font-family: verdana; color: #C90009; padding: 5px; text-align: left;}
.uvaga2 {display:inline-block; border: 1px solid #ffeb3b; border-radius: 2px; 
	box-shadow: 1px 1px 0px #E39793, 0 0 5px #E5A21A;
	background: #ffffcc; border-left: 6px solid #ffeb3b; font-size: 1.1em; font-family: calibri; color: #11299F; padding: 3px; text-align: left; margin: 3px;}
.result {background: #ffffcc; font-face:verdana; font-size:.9em; text-align:right;}	

.videowrap {margin: 10px auto; margin-left: 50px; margin-right: 50px;}
.videoblock {position: relative; padding-bottom: 65.25%; height: 0px; overflow: hidden;}
.videoblock iframe, object, embed {border: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.quot {text-align: right; font-size: .9em; font-family: pompadur; font-style: italic; color: #852204; margin: 5px; 
	text-shadow: 0px .1px .5px blue, .1px .1px .5px gray;}
.les-prev {text-align: left; font-size: .9em;}
.les-prev a {text-decoration: underline;}
.les-prev a:hover {background: #76E2E2; color: #2F27FF; text-decoration: none; 
text-shadow: 1px 1px 50px #FF00AE, 0 0 1em #94E4E7;}

.les-next {text-align: right; font-size: .9em;}
.les-next a {text-decoration: underline;}
.les-next a:hover {background: #76E2E2; color: #2F27FF; text-decoration: none; 
text-shadow: 1px 1px 50px #FF00AE, 0 0 1em #94E4E7;}

.useful {display:inline-block; border: 1px dashed blue; border-radius: 3px; background: #A6CAFF; width: 100%; margin-top: 10px;}
.useful ul li { padding:0; margin:0 20px 0 0; display:inline-block;}
.useful ul { text-align: center; list-style: none; padding: 2px; background: #A6CAFF;}
 
footer {display:inline-block; background:#0066FF; width: 100%; text-align: center; margin-top: 5px; min-height: 10px;}
.copy {font-size: .8em;}

/*Стиль для w3c*/
.w3-info {
	background-color: #ddffdd;
	border-left: 6px solid #4CAF50;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0.01em 16px;
    padding-top: 0.01em;
    padding-right: 16px;
    padding-bottom: 0.01em;
    padding-left: 16px;
	}
.w3-code {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	width: auto;
	background-color: #DDFCFF;
	padding: 8px 12px;
	border-left: 4px solid #4CAF50;
	word-wrap: break-word;
	font-family: verdana, consolas,"courier new";
	font-size: .8em;
}

.w3-table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
	background-color: #f1f1f1;
}

.w3-table-tr1 {background-color: #B7D6D7;}

.html5badge {
background-image:url('../img/html5_badge20.png');
background-repeat:no-repeat;
background-position:right;
padding-right:50px;
}

span.marked, span.deprecated {
 color:#e80000;
 background-color:transparent;
}
