* {padding: 0; margin: 0; transition: all .2s;}
body {background: #EDE4C7; font-family: Arial, Helvetica, sans-serif}
header {background: #347B98; padding: 0; color: #fff; text-shadow: 5px 5px 5px black, 2px 2px 10px red; text-align: center; margin: 0;}
main {display: grid; grid-template-columns:2fr 6fr 2fr;}
p {background-color: #eee; padding: 5px 20px 5px 20px; text-align: justify;}
strong {font-weight: 600;}

h1 {font-size:2em; padding: 5px 0 5px 0;}
h2 {font-size:1.75em;}
h3 {font-size:1.5em;}
h4 {font-size:1.25em;}
h5 {font-size:1.1em;}
h6 {font-size:.9em;}

details summary {/*заголовок для клика*/position: relative; background: #99D2D0; padding: 2px 10px 0px 20px; margin: 2px; border-radius: 3px; color: #000; font-weight: bold; cursor: pointer;}
details summary::-webkit-details-marker {/*треугольник*/position: absolute; left: 5px; top: 30%;}
details[open] summary {/*цвет строки-заголовка в открытом виде*/background: #9ED8BF;}

.content {max-width: 1140px;}
.menu-header {background:#34091C; text-align: center;}
.menu-header li {display: inline-block; margin:5px; padding: 0}
.menu-header li a {color: #fff; text-decoration: none; padding: 0 5px 0 5px;}
.menu-header li a:hover {color: #fff; text-decoration: none; box-shadow: 0 0 2px yellow, 0 0 2em #3AE2CE;}
.hidden {font-size:.1em; opacity: 0.01;}

footer {background: #347B98; text-align: center; padding: 10px 0 10px 0;}

a:link {color: #0b43ff; background-color: transparent; text-decoration: none;}
a:visited {color: #5b12b7; background-color: transparent; text-decoration: none;}
a:hover {color: #CD0030; background-color: transparent; text-decoration: underline; text-shadow: 0 0 1px #8B1D1D, 0 0 3em red;}
a:active {color: #651016; background-color: transparent; text-decoration: underline;}

@media only screen and (max-width : 800px) {
   *{padding: 0; margin: 0; transition: all .3s;}

   main {display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr; grid-column-gap:1px; grid-row-gap:1px; margin: 0 auto;}
   h1 {font-size:1.5em;}
}
